.food-parent{
  border: 1px solid black;
    padding: 0.5rem;
    list-style-type: none;
    margin: 0.5rem;
    width: 20%;
    border-radius: 0.2rem;
}
.img{
  width: 100%;
  height: 12rem;
}

.dish-parent{
  display: flex;
}