.header{
  display: flex;
  justify-content: space-between;
}

.img-pp{
  width: 2rem;
  border-radius: 50%;
}

.rating{
  width: 2rem;
  background-color: aqua;
  height: 1.5rem;
  text-align: center;
}